<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="checkIp" parameterType="String" resultType="String">
		select
			ip_num
		from
			user_admin
		where
			ip_num=#{ip_num}
	</select>
	
	<select id="ipList" resultType="String">
		select
			ip_num
		from
			user_admin
	</select>
	
	<insert id="addIp" parameterType="String">
		insert into
			user_admin(ip_num)
		values
			(#{ip_num})
	</insert>
	
	<delete id="removeIp" parameterType="String">
		delete from
			user_admin
		where
			ip_num=#{ip_num}
	</delete>	
</mapper>