<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insert" parameterType="memberDto">
		INSERT INTO user_all 
			(user_id,user_pwd,user_name,user_phone,user_addr,user_p_code,user_sort)
		VALUES
			(#{user_id},#{user_pwd},#{user_name},#{user_phone},#{user_addr},#{user_p_code},#{user_sort})
	</insert>
	<select id="checkid" parameterType="string" resultType="string">
		SELECT user_id FROM user_all WHERE user_id=#{user_id}
	</select>
	<insert id="verification" parameterType="verificationDto">
		<choose>
			<when test="userMail==null">
				INSERT INTO verification(userPhone,verificationCode) 
				VALUES(#{userPhone},#{verificationCode})		
			</when>
			<when test="userPhone==null">
				INSERT INTO verification(userMail,verificationCode) 
				VALUES(#{userMail},#{verificationCode})
			</when>
		</choose>
	</insert>
	<select id="checkVCode" parameterType="verificationDto" resultType="verificationDto">
		<choose>
			<when test="userMail==null">
				SELECT * FROM verification WHERE userPhone=#{userPhone} AND  verificationCode=#{verificationCode}		
			</when>
			<when test="userPhone==null">
				SELECT * FROM verification WHERE userMail=#{userMail} AND  verificationCode=#{verificationCode}
			</when>
		</choose>
	</select>
	<delete id="deleteVCode" parameterType="string">
		DELETE FROM verification WHERE userPhone=#{userPhone}
	</delete>
	<delete id="deleteVCodeMail" parameterType="string">
		DELETE FROM verification WHERE userMail=#{userMail}
	</delete>
	<select id="isExistId" parameterType="string" resultType="memberDto">
		SELECT user_id , user_pwd FROM user_all WHERE user_id=#{user_id}
	</select>
	<select id="getUserId" parameterType="string" resultType="string">
		SELECT user_id FROM user_all WHERE user_phone=#{user_phone}
	</select>
	<select id="getUserInfo" parameterType="string" resultType="memberDto">
		SELECT * FROM user_all WHERE user_id=#{user_id}
	</select>
	<update id="changePwd" parameterType="memberDto">
		UPDATE user_all SET user_pwd=#{user_pwd} WHERE user_id=#{user_id}
	</update>
	<select id="checkPhone" parameterType="string" resultType="string">
		SELECT user_phone FROM user_all WHERE user_phone=#{user_phone}
	</select>
	<insert id="addBookmark" parameterType="bookmarkDto">
		INSERT INTO favorit(car_num,user_id) VALUES(#{car_num},#{user_id})
	</insert>
	<delete id="deleteBookmark" parameterType="bookmarkDto">
		DELETE FROM favorit where user_id=#{user_id} AND car_num=#{car_num}
	</delete>
	<select id="checkBookmark" parameterType="bookmarkDto" resultType="bookmarkDto">
		select * FROM favorit where user_id=#{user_id} AND car_num=#{car_num}
	</select>
	<select id="getFavoritList" parameterType="paginationDto" resultType="carDataDto">
		SELECT * 
		FROM(
		SELECT result1.*,ROWNUM as rnum 
		FROM
		(SELECT B.c_sort as c_sort, B.company as company, B.m_name as m_name, A.title as title,
		A.s_price as s_price, A.automotive_fuel as automotive_fuel, A.car_num as car_num,
		A.seater as seater, A.vehical_mile as vehical_mile, A.car_option as car_option,
		A.car_year as car_year, A.vehical_gear as vehical_gear, C.img as image
		FROM car_sell_info A,car_info B,car_image C, favorit D
		WHERE A.m_name=B.m_name
		AND A.car_num=C.car_num
		AND C.car_num=D.car_num
		AND C.ismain=1
		AND D.user_id=#{user_id}) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getSalesList" parameterType="paginationDto" resultType="carDataDto">
		SELECT * 
		FROM(
		SELECT result1.*,ROWNUM as rnum 
		FROM
		(SELECT B.c_sort as c_sort, B.company as company, B.m_name as m_name, A.title as title,
		A.s_price as s_price, A.automotive_fuel as automotive_fuel, A.car_num as car_num,
		A.seater as seater, A.vehical_mile as vehical_mile, A.car_option as car_option,
		A.car_year as car_year, A.vehical_gear as vehical_gear, C.img as image
		FROM car_sell_info A,car_info B,car_image C
		WHERE A.m_name=B.m_name
		AND A.car_num=C.car_num
		AND C.ismain=1
		AND A.seller_id=#{user_id}) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getMaxCountF" parameterType="string" resultType="int">
		SELECT  NVL(MAX(rownum),'0') from(
			SELECT B.c_sort as c_sort, B.company as company, B.m_name as m_name, A.title as title,
			A.s_price as s_price, A.automotive_fuel as automotive_fuel, A.car_num as car_num,
			A.seater as seater, A.vehical_mile as vehical_mile, A.car_option as car_option,
			A.car_year as car_year, A.vehical_gear as vehical_gear, C.img as image
			FROM car_sell_info A,car_info B,car_image C, favorit D
			WHERE A.m_name=B.m_name
			AND A.car_num=C.car_num
			AND C.car_num=D.car_num
			AND C.ismain=1
			AND D.user_id=#{user_id}
			)
	</select>
	<select id="getMaxCountS" parameterType="string" resultType="int">
	SELECT  NVL(MAX(rownum),'0') from(
		SELECT B.c_sort as c_sort, B.company as company, B.m_name as m_name, A.title as title,
		A.s_price as s_price, A.automotive_fuel as automotive_fuel, A.car_num as car_num,
		A.seater as seater, A.vehical_mile as vehical_mile, A.car_option as car_option,
		A.car_year as car_year, A.vehical_gear as vehical_gear, C.img as image
		FROM car_sell_info A,car_info B,car_image C
		WHERE A.m_name=B.m_name
		AND A.car_num=C.car_num
		AND C.ismain=1
		AND A.seller_id=#{user_id}
		)
	</select>
	<delete id="deleteId" parameterType="string">
		delete from user_all where user_id=#{user_id}
	</delete>
	<delete id="deleteBookMarkA" parameterType="string">
		delete from favorit where user_id=#{user_id}
	</delete>
	<delete id="deleteAll" parameterType="string">
		DELETE FROM car_sell_info
		WHERE seller_id=#{user_id}
	</delete>
	<delete id="deleteImage" parameterType="string">
		DELETE FROM car_image
		WHERE seller_id=#{user_id}
	</delete>
</mapper>