<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insert" parameterType="memberDto">
		INSERT INTO user_all 
			(user_id,user_pwd,user_name,user_phone,user_addr,user_p_code,user_sort)
		VALUES
			(#{user_id},#{user_pwd},#{user_name},#{user_phone},#{user_addr},#{user_p_code},#{user_sort})
	</insert>
	<select id="checkid" parameterType="string" resultType="string">
		SELECT user_id FROM user_all WHERE user_id=#{user_id}
	</select>
	<insert id="verification" parameterType="memberDto">
		INSERT INTO verification(userPhone,verificationCode) 
		VALUES(#{userPhone},#{verificationCode})
	</insert>
	<select id="checkVCode" parameterType="verificationDto" resultType="string">
		SELECT * FROM verification WHERE userPhone=#{userPhone} AND  verificationCode=#{verificationCode}
	</select>
	<delete id="deleteVCode" parameterType="string">
		DELETE FROM verification WHERE userPhone=#{userPhone}
	</delete>
</mapper>