<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	<insert id="insert" parameterType="testDto">
		insert into test(name,num,addr)
		values(#{name},#{num},#{addr}) 
	</insert>
	<delete id="delete" parameterType="int">
		delete from test where num=#{num}
	</delete>
	<update id="update" parameterType="testDto">
		update from test set name=#{name} where num=#{num}  
	</update>
	<select id="getList" parameterType="testDto" resultType="testDto">
		select * from test order by num asc
	</select>
</mapper>